<!-- <div class="container">
    <h1 class="bg-info p-3">Customer Details</h1>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
        <div class="card-body">
            @for(customer of customer$ | async; track customer.customer_id){
            <h2>{{customer?.name}}</h2>
            <h4>{{customer?.age}}</h4>
            <p>{{customer?.department}}</p>
            }
        </div>
    </div> -->
    <div class="container">
        <h1 class="bg-warning p-3">Add Customer Information</h1>
        <form action="" #customerForm="ngForm" (ngSubmit)="updateCustomer(customerForm)">
            @for(customer of customer$ | async; track customer.customer_id){
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Name: </label>
                <input type="text" class="form-control" name="name" [(ngModel)]="customer.name" #name="ngModel"
                    minlength="6" required>


                @if (name.hasError('required') && name.touched) {
                <div class="text-danger">
                    Name is required.
                </div>
                }
                @if (name.hasError('minlength') && name.touched) {
                <div class="text-danger">
                    Name must be at least 6 characters long.
                </div>
                }

            </div>
            <div class="mb-3 mt-3">
                <label for="age" class="form-label">Age: </label>
                <input type="number" class="form-control" name="age" [(ngModel)]="customer.age" #age="ngModel" required>
                @if (age.hasError('required') && age.touched){

                @if (age.hasError('required')) {
                <div class="text-danger">
                    Age is required.
                </div>
                }}
            </div>
            <div class="mb-3 mt-3">
                <label for="department" class="form-label">Department: </label>
                <input type="text" class="form-control" name="department" [(ngModel)]="customer.department"
                    #department="ngModel" required>
                @if (department.hasError('required') && department.touched){

                @if (department.hasError('required')) {
                <div class="text-danger">
                    Department is required.
                </div>
                }}
            </div>

            <button type="submit" class="btn btn-primary mx-2">Update</button>
             <button class="btn btn-warning mx-2" (click)="backButton()">Cancel</button>
            }
        </form>
    </div>

   

    <!-- {{ customer$ | async |json}} -->

<!-- </div> -->